* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 400px;
    height: 600px;
    overflow: hidden;
}

body {
    background-color: #202124;
    color: #e8eaed;

    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
}

header {
    padding: 16px;
    background-color: #292a2d;
    border-bottom: 1px solid #3c4043;
    text-align: center;
}

header h1 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

main {
    height: calc(100% - 2 * 16px - 24px - 1px);
    overflow-y: auto;
}

footer {
    padding: 16px;
    background-color: #292a2d;
    border-top: 1px solid #3c4043;
}

.download-btn {
    width: 100%;
    padding: 12px;
    background-color: #8ab4f8;
    color: #202124;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}

.download-btn:hover {
    background-color: #aecbfa;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #202124;
}
::-webkit-scrollbar-thumb {
    background: #5f6368;
    border-radius: 5px;
    border: 2px solid #202124;
}
::-webkit-scrollbar-thumb:hover {
    background: #757b80;
}
