.disclosureButton {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0.5rem 0.75rem;

    background: #202124;
    color: #e8eaed;

    /* reset other button styles */
    border: none;
    cursor: pointer;
    font: inherit;
    outline: inherit;
}

.disclosureButton:hover {
    background-color: #35363a;
}

.disclosureButton .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.disclosureButton .name {
    font-size: 1.25rem;
    font-weight: 700;
}

.disclosureButton .time {
    font-size: 1rem;
}

.disclosureButton[data-open] svg {
    transform: rotate(180deg);
}

.disclosurePanel {
    background-color: #292a2d;
}

.innerDisclosureButton {
    position: sticky;
    top: 72px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0.5rem 0.75rem;

    background: #292a2d;
    color: #e8eaed;

    /* reset other button styles */
    border: none;
    cursor: pointer;
    font: inherit;
    outline: inherit;

    font-size: 0.9375rem;
}

.innerDisclosureButton:hover {
    background-color: #35363a;
}

.innerDisclosurePanel {
    background-color: #303134;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
}

.container h2 {
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;
    border-bottom: 1px solid #3c4043;
    transition: background-color 0.2s;
}

.item:hover {
    background-color: #35363a;
}

.itemDate {
    font-size: 0.875rem;
    font-weight: 500;
}

.itemDamage {
    font-size: 0.8125rem;
    color: #9aa0a6;
}
